/* h1 font */
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
/* h3 font */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* div font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

#menuBG {
    width: 600px;
    height: 470px;
    margin: 10px auto; 
}

#frmMenu {
    width: 600px;
    height: 200px;
    margin-left: 50px;
    margin-top: 30px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}
    
    
.left {
    width: 200px;
    height: 250px;
    float: left;
}

.middle {
    width: 200px;
    height: 250px;
    float: left;
}

.right {
    width: 200px;
    height: 250px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 400px;
}

#btnOrder {
    margin: 10px auto;
    width: 150px;
    height: 60px;
    display: block;
    background-color: #902525;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 30px;
    border: 2px solid #902525;
    font-family: "Poiret One", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* CSS PIZZA MENU CHALLENGE */
body {
    background-color: #f3eed9;
}

h1 {
    font-family: "Fascinate Inline", system-ui;
    color: #902525;
    text-align: center;
    font-size: 50px;
}

h3 {
    font-family: "Poiret One", sans-serif;
    color: #57423f;
}

div {
    font-family: "Quicksand", sans-serif;
    color: #57423f;
    font-size: 20px;
}
